<div class="col-md-12  bg_image">
  <div class="center">
    <h3 class="intro_text">Share and explore useful online resources</h3>
    <p>&nbsp;</p>
    <a href="#/signup" class="btn_custom_ghost">Get Started</a>
  </div>
</div>

<div class="col-md-12  categoryDisplay center">
  <div class="col-md-6 col-md-offset-3 center">
    <div class="col-md-4">
      <h4 class="filterCtas" ng-click="changeCategory('')">
        <span class="glyphicon glyphicon-th"></span> All categories
      </h4>
    </div>

    <div class="col-md-4">
      <h4 class="filterCtas" ng-click="showTopVoted()">
        <span class="glyphicon glyphicon-thumbs-up"></span> Top Voted
      </h4>
    </div>

    <div class="col-md-4">
      <h4 class="filterCtas">
        <span class="glyphicon glyphicon-eye-open"></span> Most viewed
      </h4>
    </div>
  </div>
</div>


<div class="jumbotron ">
    <div class="container">
        <hr class="buttom_space">
        <div class="row" ng-init="showRecentPosts()">
            <div class="col-md-3 categorySelection">
                <div class="sidebar-offcanvas" id="sidebar" role="navigation">
                    <div class="list-group">
                        <a class="list-group-item is-menu active" id="tab-preview">
                            <span class="glyphicon glyphicon-play-circle"></span> Categories
                        </a>
                        <a href="" id="tab-css" class="list-group-item is-menu" ng-click="changeCategory('arts')">
                            <span class="glyphicon glyphicon-leaf"></span> Arts
                        </a>
                        <a class="list-group-item is-menu tip" href="" title="" data-placement="right" ng-click="changeCategory('health')">
                            <span class="glyphicon glyphicon-download-alt"></span> Health
                        </a>
                        <a class="list-group-item is-menu" href="" id="tab-information" ng-click="changeCategory('literature')">
                            <span class="glyphicon glyphicon-book"></span> Literature
                        </a>
                        <a class="list-group-item is-menu" href="" id="tab-information" ng-click="changeCategory('programming')">
                            <span class="glyphicon glyphicon-console"></span> Programming
                        </a>
                        <a href="" id="tab-html" class="list-group-item  is-menu" ng-click="changeCategory('random')">
                            <span class="glyphicon glyphicon-list"></span> Random
                        </a>
                        <a class="list-group-item is-menu" href="" id="tab-comment" ng-click="changeCategory('science')">
                            <span class="glyphicon glyphicon-globe"></span> Science
                        </a>
                        <a class="list-group-item is-menu" href="" id="tab-comment" ng-click="changeCategory('')">
                            <span class="glyphicon glyphicon-th"></span> Show all
                        </a>
                    </div>
                </div>

                <!-- Search box starts here -->
                 <div>
                     <div id="custom-search-input">
                         <div class="input-group col-md-12">
                             <input type="text" class="search-query form-control" placeholder="Quick search" ng-model="query" />
                             <span class="input-group-btn">
                     <button class="btn btn-danger" type="button">
                       <span class=" glyphicon glyphicon-search"></span>
                             </button>
                             </span>
                         </div>
                     </div>
                 </div>
                 <!-- Search box ends here -->

            </div>
            <div class="col-md-9 categoryListings">
                <div class="row">
                    <div class="col-md-4" ng-repeat="resource in resources | filter: category | filter: query">

                        <div class="well homepage_well">
                          <div class=" resourceImage" ng-click="showResourcePage(resource._id, resource.category)">
                              <img src="images/resimg.jpg" alt="Resource Image" class="img-responsive" />
                          </div>
                          <div class="well_body">
                                <div class="row">
                                    <div class="col-xs-12 col-md-12 section-box">
                                        <h5 class="resourceTitle" ng-click="showResourcePage(resource._id, resource.category)"><b ng-bind="resource.title"></b></h5>
                                        <small><span ng-bind="resource.category" class="desc"></span></small>
                                        <hr/>
                                        <small class="desc">By <span ng-bind="resource.contributor"></span></small>
                                        <hr/>
                                       <div class="row rating-desc">
                                            <div class="col-md-12">
                                            <div class="row">

                                                <!-- Likes -->
                                                <div class="col-md-1 likesIcon">
                                                  <span class="glyphicon glyphicon-thumbs-up"></span>
                                                </div>
                                                <div class="col-md-2">
                                                  <span ng-bind="resource.likes"></span>
                                                </div>

                                                <!-- views -->
                                                <div class="col-md-1 viewsIcon">
                                                  <span class="glyphicon glyphicon-eye-open"></span>
                                                </div>
                                                <div class="col-md-2">
                                                  <span ng-bind="resource.views"></span>
                                                </div>

                                                <!-- Comments -->
                                                <div class="col-md-1 viewsIcon">
                                                  <span class="glyphicon glyphicon-comment"></span>
                                                </div>
                                                <div class="col-md-2">
                                                  <span ng-bind="resource.likes"></span>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="jumbotron text">
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</div>


