<div class="jumbotron comments">
  <div class=" container well">
    <div class="btn-group btn-breadcrumb breacrmb">
        <a href="#/" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a>
        <a href="" class="btn btn-default" ng-click="showThisCategory(currentInformation[0].category)" ng-bind="currentInformation[0].category"></a>
        <a href="" class="btn btn-default" ng-bind="currentInformation[0].title"></a>
    </div>

    <div class="container">
        <div class="col-md-9">

            <div class="panel panel-white post panel-shadow">
              <div class="post-heading resource_container_header">
                  <div>
                    <h4><span ng-bind="currentInformation[0].title"></span></h4>
                    <p class="zeroMargin"><span ng-bind="currentInformation[0].category" class="desc"></span></p><br>
                  </div>
                  <div class="likes_n_views">
                      <!-- Likes -->
                      <div class="align_left fancy_right_border padding_right_sm">
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                        <span ng-bind="currentInformation[0].likes"></span>
                        <span></span>
                      </div>

                      <!-- views -->
                      <div class="align_left fancy_right_border padding_side_sm">
                        <span class="glyphicon glyphicon-eye-open"></span>
                        <span ng-bind="currentInformation[0].views"></span>
                        <span></span>
                      </div>

                      <!-- Comments -->
                      <div class="align_left padding_left_sm">
                        <span class="glyphicon glyphicon-comment"></span>
                        <span ng-bind="comments.length"></span>
                        <span></span>
                      </div>
                  </div>
              </div> 
              <div class="resource_display"> 

                 <!-- Post description starts here -->
                <div class="col-md-8 post-description"> 
                  <p class="lineHeight"><span class="label_">Description:</span> <span ng-bind="currentInformation[0].fileType"></span></p>
                  <p><span class="label_">Posted by:</span> <span ng-bind="currentInformation[0].contributor"></span></p>
                  <p><span class="label_">Posted on: </span>  <span ng-bind="currentInformation[0].registered | date:'fullDate'"></span></p>
                  <p><span class="label_">Resource link: </span><a ng-hide="noResourceLink" class="lineHeight" href="{{currentInformation[0].resourceLink}}" target="_blank"><span ng-bind="currentInformation[0].resourceLink" class="text-muted"></span></a></p>

                  <div class="pull-left meta stats side-space ">
                    <br>
                    <a href="" target="_blank" class="btn btn-default stat-item top-space">
                      <i class="fa fa-cloud-download icon side-space"></i>Download File
                    </a><br><br>
                    <a href="/#/fileupload" class="btn btn-default stat-item">
                      <i class="fa fa-cloud-upload icon side-space"></i>Upload a File
                    </a>                        
                  </div>


                </div>
                <!-- Post description ends here -->

                <!-- Download button area -->
                <div class="col-md-2 col-md-offset-2">
                  <div class="center meta stats side-space ">
                    <div class="likeButtonBorder center">
                      <span ng-class="{'glyphicon': true,'glyphicon-heart': true, 'likeResourceButton': true, 'liked': liked }" ng-click="likeResource()"></span>
                    </div>
                  </div>
                </div>
              </div> 
              <!-- Download button section ends here -->

                <div class="clear"></div>
                <div class="post-footer">
                    <h5>Leave a comment.</h5>
                    <input type="text" ng-model="commenter" class="form-control username" placeholder="Enter username" ng-focus="hideNotifications()"><br>
                    <div class="input-group "> 
                      
                        <input class="form-control" placeholder="Add a comment" type="text" ng-model="comment" ng-focus="hideNotifications()">
                        <span class="input-group-addon" ng-click="addComment()">
                          <a href=""><i class="fa fa-edit"></i></a>  
                        </span>
                    </div>
                    <h6 ng-show="commentPosted" class="text-success"> Your comment has been added..</h6>
                    <h6 ng-show="emptyComment" class="text-warning"> Please enter a comment.</h6>
                    <br>
                    <p>Comments</p>
                    <ul class="list-group">
                      <li class="list-group-item panel"></li>
                      <li class="list-group-item panel" ng-repeat="comment in comments | orderBy:'commentedOn': true">
                        <p>@<span ng-bind="comment.commentBy"></span> thinks:</p>
                        <small ng-bind="comment.comment"></small><br>
                        <small class="text-muted time pull-right" >{{comment.commentedOn | date:"MM/dd/yyyy 'at' h:mma"}}</small>
                        <p></p>
                      </li>

                    </ul>
                   
                </div>
            </div>
        </div>
    <div class="col-md-3">
      <div class="sidebar-offcanvas" id="sidebar" role="navigation">
        <div class="list-group">
          <a class="list-group-item is-menu active" ng-class="{'green': catBgColor == 'green','blue': catBgColor == 'blue','red': catBgColor == 'red', 'orange': catBgColor == 'orange', 'purple': catBgColor == 'purple', 'navy_blue': catBgColor == 'navy_blue'}" id="tab-preview">
            <span class="glyphicon glyphicon-play-circle"></span>
            Related resources 2     
          </a>
          <a href="" id="tab-css" class="list-group-item is-menu" ng-click="updateCurrent(currentResource._id)" ng-repeat="currentResource in relatedResources" ng-bind="currentResource.title">
          </a>                  
            </div>
        </div>
    </div>

    </div>
  </div>

</div>